$bg: #f6f3f3;
$primary: #403432;
$primary-hover: #776763;
$primary-disabled: #c1b4b1;
$secondary: #5b3a32;
$footer-bg: #eceaea;
$font-light: #f4f6f9;
$font-dark: #343030;
$text-muted: #868686;
$border: #d1d1d1;
$border-active: #b5b5b5;
$container-max: 1240px;
$gap: 30px;
